/* grid-explicit */


.grid-explicit {
  display: grid;

  grid-template-columns: 20% repeat(2, 30%) 20%;
  grid-template-rows: repeat(5, auto);

  /* Atajo */

  grid-template: repeat(5, auto) / 20% repeat(2, 30%) 20%;  /* grid-template: rows / columns */
}

.grid-explicit .item:nth-child(10) {
  color: red;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  /* Atajo */

  grid-row: 2 / 3;                                          /*  grid-row: start / end */
  grid-column: 3 / 5;                                       /*  grid-column: start / end */

  /* ShortCut */

  grid-area: 2 / 3 / 3 / 5;                                 /* grid-area: grid-row-start / grid-row-end / grid-column-start / grid-column-end */
}

.grid-explicit .item:nth-child(12) {
  color: cyan;

  /* Span = abarca*/

  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-child(15) {
  color: darkorange;
  grid-row: 1 / span 2;                                      /* grid-row: grid line donde empieza / abarca 2 espacios o celdas */
  grid-column: 1 / span 2;                                   /* grid-row: grid line donde empieza / abarca 2 espacios o celdas */
}



/* Posicionamiento con nombres de Grid Lines */


.grid-line-names {
  display: grid;
  grid-template: repeat(3, 1fr) /repeat (3, 1fr);
  grid-template-rows: [line-r1] 1fr [line-r2] 1fr [line-r3] 1fr [line-r4];
  grid-template-columns: [line-c1] 1fr [line-c2] 1fr [line-c3] 1fr [line-c4];
}

.grid-line-names .item:nth-child(3) {
  color: cyan;
  grid-row: line-r3 / line-r4;
  grid-column: line-c1 / line-c4;

  /* Con grid-area no funciona hacer esta Grid-line-names */
}



/* Posicionamiento con Grid Areas */


.grid-areas {
  display: grid;
  grid-template:100px repeat(2, 1fr) 60px / 1fr 200px;
  grid-template-areas:
    "header header"
    "content sidebar"
    "content ."
    "footer footer";
}

.header{
  grid-area: header;
}
.content{
  grid-area: content;
}
.sidebar{
  grid-area: sidebar;
}
.footer{
  grid-area: footer;
}